---
import Icon from "./Icon.astro";
import ThemeToggle from "./ThemeToggle.astro";
import type { iconPaths } from "./IconPaths";

const textLinks: { label: string; href: string }[] = [
	{ label: "Home", href: "/" },
	{ label: "Work", href: "/work/" },
	{ label: "About", href: "/about/" },
];

const iconLinks: {
	label: string;
	href: string;
	icon: keyof typeof iconPaths;
}[] = [
	{
		label: "GitHub",
		href: "https://github.com/dobecad",
		icon: "github-logo",
	},
	{
		label: "Email",
		href: "mailto:jacemanthespaceman@gmail.com",
		icon: "paper-plane-tilt",
	},
];
---

<nav class="p-8">
	<div
		class="container mx-auto flex justify-between items-center text-slate-950 dark:text-slate-100"
	>
		<a href="#" class="text-4xl font-bold">Jachi</a>
		<ul
			class="space-x-4 hidden lg:flex justify-center text-xl border-4 dark:border-white border-slate-800 rounded-full pl-4 pr-4 py-4"
		>
			{
				textLinks.map(({ label, href }) => (
					<li>
						<a
							aria-current={Astro.url.pathname === href}
							class="px-4 py-1.5 rounded-full"
							class:list={[
								"",
								{
									"bg-purple-700 text-slate-100":
										Astro.url.pathname === href ||
										(href !== "/" &&
											Astro.url.pathname.startsWith(
												href,
											)),
								},
							]}
							href={href}
						>
							{label}
						</a>
					</li>
				))
			}
		</ul>
		<ul
			class="space-x-8 hidden lg:flex justify-center text-xl rounded-full pl-4 pr-4"
		>
			{
				iconLinks.map(({ label, href, icon }) => (
					<li>
						<a
							class="text-white px-2 rounded-full dark:invert-0 invert"
							href={href}
							target="_blank"
						>
							<span class="sr-only">{label}</span>
							<Icon icon={icon} />
						</a>
					</li>
				))
			}
			<li class="flex">
				<ThemeToggle />
			</li>
		</ul>

		<!-- When screen is small -->
		<div class="flex justify-center items-center space-x-4 lg:hidden">
			<details class="dropdown dropdown-end">
				<summary class="m-1 btn">&#9776;</summary>
				<ul
					class="p-2 shadow menu dropdown-content z-[1] bg-slate-900 rounded-box w-52 text-center text-xl space-y-4"
				>
					{
						textLinks.map(({ label, href }) => (
							<li>
								<a
									aria-current={Astro.url.pathname === href}
									class="px-4 py-1.5 rounded-full"
									class:list={[
										"",
										{
											"bg-purple-700 text-slate-100":
												Astro.url.pathname === href ||
												(href !== "/" &&
													Astro.url.pathname.startsWith(
														href,
													)),
										},
									]}
									href={href}
								>
									{label}
								</a>
							</li>
						))
					}
					{
						iconLinks.map(({ label, href }) => (
							<li>
								<a
									class="text-white rounded-full dark:invert-0 invert"
									href={href}
									target="_blank"
								>
									{label}
								</a>
							</li>
						))
					}
				</ul>
			</details>
		</div>
	</div>
</nav>
